<!DOCTYPE html>
  <head>
    <title>Pibo Maker</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />

    <link rel="stylesheet" href="../static/index.css?ver=230724v2" />
    <link rel="stylesheet" href="../static/all.min.css" type="text/css" />
    <link rel="stylesheet" href="../static/codemirror.css" />
    <link rel="stylesheet" href="../static/cobalt.css" />
    <link rel="stylesheet" href="../static/duotone-light.css" />
    <link rel="stylesheet" href="../static/jquery.jsonview.min.css" />
    <link rel="shortcut icon" href="../static/icon.png?ver=221218" type="image/x-icon" />

    <script src="../static/ko2en.js?ver=230726v1"></script>
    <script src="../static/blockly_compressed.js?ver=230726v1"></script>
    <script src="../static/python_compressed.js?ver=230726v1"></script>
    <script src="../static/blocks_compressed.js?ver=230726v1"></script>
    <script src="../static/customblock.js?ver=230726v1"></script>
    <script src="../static/customblock_callback.js?ver=230726v1"></script>
    <script src="../static/customblock_toolbox.js?ver=230726v1"></script>
    <script src="../static/jquery-3.1.1.min.js"></script>
    <script src="../static/jquery.jsonview.min.js"></script>
    <script src="../static/codemirror.min.js"></script>
    <script src="../static/python.js"></script>
    <script src="../static/shell.js"></script>
    <script src="../static/socket.io.min.js?ver=230726v1"></script>
  </head>
  <body>
    <header class="title">
      <div style="float:left">
        <h2>
          <i class="fa-solid fa-code">IDE</i>&nbsp;
          <i class="fa-solid fa-left-right" style="opacity:30%"></i>&nbsp;
          <a id="home_bt">
            <i class="fa-solid fa-microchip" style="opacity:30%">Tools</i>
          </a>
        </h2>
      </div>
      <div style="float:right">
        <h2 style="display: flex; align-items: center; justify-content: center;">
          <select id="language">
            <option value="ko">한국어</option>
            <option value="en">English</option>
          </select>&nbsp;
          <a id='logo_bt'>
            <img src="../static/themaker.png" style="height:22px"/>
          </a>

        </h2>
      </div>
    </header>

    <main>
      <div class="wifi-popup" id="wifiPopup" style="display:none">
        <div class="wifi-popup-content">
          <h3>
            <div style="float:left"><i class="fa-solid fa-circle-exclamation"></i>&nbsp;<span data-key="internet_settings"></span></div>
            <div style="float:right"><a id="hidewifi"><i class="fa-solid fa-rectangle-xmark"></i></a></div>
          </h3>
          <h3>&nbsp;</h3>
          <i class="fa-solid fa-house-signal"></i>&nbsp;<span id="wifi_info"></span>
          <br>

          <table style="width:100%">
            <tr>
              <td>
                <span data-key="wifi_name"></span>
              </td>
              <td>
                <input type="text" name="ssid" id="ssid" disabled /><input type="checkbox" id="ssid_en" name="ssid_en" /> / 
                <i class="fa-solid fa-lock-open"></i>&nbsp;<input type="checkbox" id="enctype_open" name="enctype_open" />
              </td>
              <td>
                <button type="button" class="confirm" id="wifi_bt" style="width:120px;"><i class="fa-solid fa-check-double"></i>&nbsp;<span data-key="confirm"></span></button>
              </td>
            </tr>
            <tr>
              <td>
                <span data-key="password"></span>
              </td>
              <td>
                <input type="password" id="psk" name="psk" /><input type="checkbox" id="psk_check" name="psk_check" />
              </td>
              <td>
                <button type="button" class="cancel" id="current_wifi" style="width:120px;"><i class="fa-solid fa-rotate-left"></i>&nbsp;<span data-key="reset"></span></button>
              </td>
            </tr>
          </table>

          <div style="height:190px;overflow-y:scroll;">
            <table class="wifi_list" id="wifi_list">
              <thead><tr><th style="width:450px;"><span data-key="wifi_name"></span></th><th><span data-key="wifi_signal"></span></th><th><span data-key="wifi_psk"></span></th></tr></thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="usedata-popup" id="usedataPopup" style="display:none">
        <div class="usedata-popup-content">
          <h3>
            <div style="float:left"><i class="fa-solid fa-circle-exclamation"></i>&nbsp;<span data-key="usedata"></span></div>
            <div style="float:right"><a id="hideUsedata"><i class="fa-solid fa-rectangle-xmark"></i></a></div>
          </h3>
          <h3>&nbsp;</h3>
          <div style="height:210px;overflow-y:scroll" id="usedata_json"></div>
        </div>
      </div>

      <div class="content">
        <div class="wrapper ide">
          <div class="editor-row">
            <div class="editor-col">
              <!-- <i class="fa-solid fa-computer"></i>
              <input type="checkbox" id="hiddenfile" name="hiddenfile" title="숨김파일보기" disabled/> -->
              <label for="upload">
                <i class="fa-solid fa-file-upload"></i>&nbsp;
                <span data-key="upload"></span>
              </label>
              <div class="filebox">
                <form method="post" action="/upload" enctype="multipart/form-data">
                  <input type="file" id="upload">
                </form>
              </div>
              <button id="add_directory" style="background-color:#dcb9b2">
                <i class="fa-solid fa-folder-plus"></i>&nbsp;
                <span data-key="add_directory"></span>
              </button>
              <button id="add_file">
                <i class="fa-solid fa-file-circle-plus"></i>&nbsp;
                <span data-key="add_file"></span>
              </button>
            </div>
          </div>

          <div class="filepath" style="width:320px">
            <i class="fa-solid fa-folder-open"></i><span id="path"></span>
          </div>

          <div class="editor-row">
            <div class="editor-col">
              <div class="fm-table-wrap">
                <table id="fm_table">
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="filepath" style="width:320px">
            <i class="fa-solid fa-folder-open"></i><span id="mediapath"></span>
          </div>

          <div class="editor-row">
            <div class="editor-col">
              <img id="image" class="preview-img" />
            </div>
          </div>

          <div class="editor-row">
            <div class="editor-col">
              <audio controls id="audio" class="preview-audio"></audio>
            </div>
          </div>
        </div>

        <div class="wrapper ide">
          <div class="editor-row">
            <div class="editor-col">
              <!-- <i class="fa fa-solid fa-laptop-code"> </i> -->
              <div name="codetype">
                <button name="python">
                  <i class="fa-brands fa-python"></i>&nbsp;
                  <span data-key="python"></span>
                </button>
                <button name="block">
                  <i class="fa-solid fa-cube"></i>&nbsp;
                  <span data-key="block"></span>
                </button>
                <button name="shell">
                  <i class="fa-solid fa-terminal"></i>&nbsp;
                  <span data-key="shell"></span>
                </button>
              </div>
              <span id='codecheck'></span>
            </div>

            <div class="editor-col">
              <i class="fa-solid fa-text-height">
                <input type="number" id="fontsize" min="5" max="50" value="14" step="1" pattern="\d*" />
              </i>
              <button id="execute" class="btn-teal" style="width:86px;">
                <i class="fa-solid fa-play"></i>&nbsp;
                <span data-key="execute"></span>
              </button>
              <button id="stop" class="btn-red disabled" style="width:86px;">
                <i class="fa-solid fa-stop"></i>&nbsp;
                <span data-key="stop"></span>
              </button>
              <button id="save" class="btn" style="width:86px;">
                <i class="fa-solid fa-save"></i>&nbsp;
                <span data-key="save"></span>
              </button>
              <i class="fa-solid fa-circle-half-stroke"></i>
              <input type="checkbox" id="theme_check" name="theme_check" checked />
              <!-- <i class="fa-solid fa-arrows-left-right-to-line"></i> -->
              <i class="fa-solid fa-arrows-left-right-to-line"></i>
              <input type="checkbox" id="result_check" name="result_check" />
            </div>
          </div>

          <div class="filepath" style="width:700px">
            <i class="fa-solid fa-folder-open"></i><span id="codepath"></span>
          </div>

          <div class="editor-row">
            <div id="codeDiv">
              <form id="code_form">
                <textarea id="codemirror-code" name="source_code"></textarea>
              </form>
            </div>
            <div id="blocklyDiv" class="blocklyDiv"></div>
          </div>
        </div>

        <div class="wrapper ide" id="result_en">
          <div class="editor-row">
            <div class="editor-col">
              <!-- <i class="fa fa-solid fa-file-lines"><span> 결과</span></i> -->
              <button id="eraser">
                <i class="fa-solid fa-eraser"></i>&nbsp;
                <span data-key="reset"></span>
              </button>
              <!-- <i class="fa fa-solid fa-link"></i>
              <input type="checkbox" id="terminal_check" name="terminal_check" title="터미널" /> -->
            </div>
          </div>
          <div class="filepath" style="width:400px">
            <i class="fa-solid fa-folder-open"></i><span id="respath"></span>
          </div>

          <div class="editor-row">
            <div class="editor-col">
              <textarea id="result" class="result" disabled></textarea>
              <!-- <iframe id="terminal" class="result" loading="lazy" style="display:none"></iframe> -->
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div style="float:left;padding:0.7rem 0 0.7rem 0">
        <i class="fa-solid fa-robot fa-flip"></i>
        <span id="s_os_version"></span>,
        <i class="fa-solid fa-tags"></i>
        <a id="usedata_bt"><span id="s_serial"></span></a>
      </div>
      <div style="float:right;padding:0.7rem 0 0.7rem 0">
        <a id="showWifi">
          <i class="fa-solid fa-wifi"></i>
          <span id="s_network"></span>
        </a>,
        <i class="fa-solid fa-temperature-empty"></i>
        <span id="s_cpu_temp"></span>,
        <i class="fa-solid fa-memory"></i>
        <span id="s_memory"></span>,
        <i class="fa-solid fa-clock"></i>
        <span id="s_runtime"></span>
      </div>
    </footer>
    <script src="../static/index.js?ver=230829v2"></script>
  </body>
</html>
