<html lang='ko'>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>Openpibo Ide</title>
  <script src="../static/8fb5dc8e84.js" crossorigin="anonymous"></script>
  <script src="../static/jquery-3.1.1.min.js"></script>
  <script src="../static/codemirror.js"></script>
  <script src="../static/python.js"></script>
  <script src="../static/htmlmixed.js"></script>
  <script src="../static/css.js"></script>
  <script src="../static/javascript.js"></script>
  <script src="../static/vbscript.js"></script>
  <script src="../static/xml.js"></script>
  <script src="../static/shell.js"></script>
  <script src="../static/socket.io.js"></script>
  <link rel="stylesheet" href="../static/codemirror.css" />
  <link rel="stylesheet" href="../static/cobalt.css" />
  <link rel="shortcut icon" href="../static/icon.png" type="image/x-icon" />
  <link rel="stylesheet" href="../static/index.css?ver=1" />
</head>

<body>
  <header class="title">
    <div style="float:left">
      <h2><i class="fa-solid fa-code"> IDE</i></h2>
    </div>
    <div style="float:right">
      <h2><img src="../static/themaker.png" style="height:22px"/></h2>
    </div>
  </header>

  <main>
    <div class="content">
      <div class="wrapper ide" style="flex: 1 0 320px; max-width: 320px">
        <div class="editor-row">
          <div class="editor-col">
            <i class="fa-solid fa-computer"><span> 탐색기</span></i>
            <i class="fa-solid fa-angle-right"></i>
            <i class="fa-regular fa-folder-open"></i>
            <span id="path"></span>
          </div>
        </div>
        <div class="editor-row">
          <div class="editor-col">
            <input type="checkbox" id="hiddenfile" name="hiddenfile" title="숨김파일보기"/>
            <span>숨김파일</span>
            <label for="upload" title="업로드">
              <i class="fa-solid fa-file-upload"><span> </span></i>
            </label>
            <div class="filebox">
              <form method="post" action="/upload" enctype="multipart/form-data">
                <input type="file" id="upload">
              </form>
            </div>
            <button id="add_directory" title="새폴더">
              <i class="fa-solid fa-folder-plus"><span></span></i>
            </button>
            <button id="add_file" title="새파일">
              <i class="fa-solid fa-file-circle-plus"><span></span></i>
            </button>
          </div>
        </div>
        <div class="editor-row">
          <div class="editor-col">
            <div class="fm-table-wrap">
              <table id="fm_table">
                <tbody></tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="editor-row">
          <div class="editor-col">
            <i class="fa fa-solid fa-tv"><span> 출력</span></i>
            <i class="fa-solid fa-angle-right"></i>
            <i class="fa-regular fa-folder-open"></i>
            <span id="imgpath"></span>
          </div>
        </div>

        <div class="editor-row">
          <div class="editor-col">
            <img id="image" class="preview-img" />
          </div>
        </div>

        <div class="editor-row">
          <div class="editor-col">
            <audio controls id="audio" style="width:320px;background-color:#edf5e0" />
          </div>
        </div>
      </div>

      <div class="wrapper ide" style="flex: 1 0 700px; max-width: 700px">
        <div style="display: flex; justify-content: space-between;width: 100%">
          <div style="display: flex; flex-flow: column; gap: 5px">
            <div class="editor-row">
              <div class="editor-col">
                <i class="fa fa-solid fa-laptop-code"><span> 프로그램 </span></i>
                <i class="fa-solid fa-angle-right"></i>
                <div name="codetype">
                  <button name="python">
                    <i class="fa fa-brands fa-python"><span> Python </span></i>
                  </button>
                  <button name="html">
                    <i class="fab fa-html5"><span> HTML </span></i>
                  </button>
                  <button name="shell">
                    <i class="fa fa-solid fa-code"><span> Shell </span></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="editor-row">
              <div class="editor-col">
                <i class="fa-solid fa-folder-open"></i>
                <span id="codepath" style="min-width:400px;"></span>
                <span id='codecheck'></span>
              </div>
              <div class="editor-col">
                <i class="fa-solid fa-text-height">
                  <input type="number" id="fontsize" min="14" max="50" value="14" step="1" />
                </i>
                <button id="execute" class="btn-teal" style="width:70px" title="실행">
                  실행
                  <i class="fa fa-solid fa-play"></i>
                </button>
                <button id="stop" class="btn-red disabled" style="width:70px" title="정지">
                  정지
                  <i class="fa fa-solid fa-stop"></i>
                </button>
              </div>
            </div>

            <div class="editor-row fullWidth">
              <form id="code_form">
                <textarea id="codemirror-code" name="source_code"></textarea>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper ide" style="flex: 1 0 400px; max-width:400px; gap: 8px">
        <div class="editor-row">
          <div class="editor-col">
            <i class="fa fa-regular fa-file-lines"><span> 실행결과</span></i>
          </div>
        </div>

        <div class="editor-row fullWidth">
          <div class="editor-col fullWidth">
            <textarea id="update" style="width:390px;min-height:586px;height:calc(80.5vh + 30px)" disabled></textarea>
          </div>
        </div>
      </div>

    </div>
  </main>
  <footer>
    <div style="float:left;padding:0.7rem 0 0.7rem 0">
      <a id="home_bt" style="font-weight:bold;color:#1642bd">
        <i class="fa-solid fa-arrow-up-right-from-square"> Tools로 이동</i>
      </a>
      <i class="fa-brands fa-raspberry-pi"></i>
      <span id="s_os_version"></span>,
      <i class="fa-solid fa-id-badge"></i>
      <span id="s_serial"></span>
    </div>
    <div style="float:right;padding:0.7rem 0 0.7rem 0">
      <i class="fa-solid fa-wifi"></i>
      <span id="s_network"></span>,
      <i class="fa-solid fa-temperature-empty"></i>
      <span id="s_cpu_temp"></span>,
      <i class="fa-solid fa-memory"></i>
      <span id="s_memory"></span>,
      <i class="fa-solid fa-clock"></i>
      <span id="s_runtime"></span>
    </div>
  </footer>
  <script src="../static/index.js?ver=1"></script>
</body>

</html>