@font-face {
  font-family: monospace;
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  /* 모바일 pinch zoom 방지 */
  touch-action: pan-x pan-y;
  height: 100%;
  font-size: 10px;
  --mid-gray: #6c6c6c;
  --yellow: #f4de3d;
  --dark-yellow: #f4d85a;
  --light-green: #edf5e0;
  --light-yellow: rgb(248, 242, 172);
  --teal: #13bfd5;
  --dark-teal: #11abbf;
  --red: #f16449;
  --dark-red: #d85a41;
}
html:lang(ko) {
  font-family: monospace;
}
html:lang(en) {
  font-family: monospace;
}

body {
  font-family: monospace;
  font-weight: bold;
  color: black;
  background-color: white;
  box-sizing: border-box;
  font-size: 1.6rem;
  position: relative;
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

nav button {
  width: calc(100% / 5);
}
@media (max-width: 699px) {
  #article_device > section {
    width: 96% !important;
    margin: 0 auto;
  }
  #article_home > section {
    width: 96%;
    margin: 0 auto;
  }
  #article_vision > section {
    width: 96%;
    margin: 0 auto;
  }
  #article_motion > section {
    width: 96%;
    margin: 0 auto;
  }
  #article_chatbot > section {
    width: 96%;
    margin: 0 auto;
  }
  main h2#content_header {
    padding: 0 1em;
  }
  nav button.menu-selected {
    font-weight: bold;
    font-size: 1em;
    padding: 0;
  }
}
@media (min-width: 700px) {
  #article_device > section {
    width: 49%;
  }
  nav button.menu-selected {
    font-size: 2em;
    padding: 0;
  }
}
@media (min-width: 1000px) {
  #article_home > section {
    width: 49%;
  }
  #article_vision > section {
    width: 49%;
  }
  #article_motion > section:nth-child(2) {
    width: calc(100% - 600px);
  }
  #article_chatbot > section {
    width: 49%;
  }
  #article_device > section {
    width: 49%;
  }
}
@media (min-width: 1200px) {
  div.content {
    max-width: 1200px;
  }
  nav button:first-child {
    margin-left: calc(calc(100% - 1200px) / 2);
  }
  nav button:last-child {
    margin-right: calc(calc(100% - 1200px) / 2);
  }
}

header,
textarea,
select,
input {
  /* font-size: 10px; */
  color: black;
  font-weight: bold;
  outline: none;
  font-family: monospace;
}

select,input {
  background: rgb(248, 242, 172, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 4px;
  font-size: 16px !important;
}

/* 링크 스타일 */
a:link,
a:visited {
  color: #0896d9;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0896d9;
}

.readable-hidden,
.a11y,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.a11y:focus {
  top: 5px;
  left: 50%;
  width: auto;
  height: auto;
  margin: 0;
  clip: rect(auto, auto, auto, auto);
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  transform: translateX(-50%);
  /*자신의 크기 절반만큼 왼쪽으로 이동*/
  z-index: 10;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

div {
  touch-action: pan-x pan-y;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 80vh;
  background-image: url("menu_bg.png");
  background-repeat: repeat-x;
  background-position-y: 26px;
}

main div.content {
  display: flex;
  flex-flow: row;
}

nav {
  /* position: fixed;
  bottom: 0; */
  position: sticky;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  list-style-type: none;
  background-color: var(--yellow);
}

aside {
  position: sticky;
  left: 0;
  width: 100%;
  /* background-color: var(--light-green); */
  padding: 0 calc(calc(100% - 1200px) / 2);
  font-size: 12px;
  /* margin-top: 1.25em; */
}

aside > table {
  width: 100%;
}

.status_row {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em 1em 0.5em 0;
  height: 34px;
}

.status_row > span:nth-child(odd) {
  width: 75px;
  text-align: right;
}
.status_row > span:nth-child(2n) {
  width: 150px;
}

aside td {
  width: calc(100% / 8);
  padding: 0.5em 1em 0.5em 0;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}
.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 12px;
  width: 40px;
  height: 24px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-checkbox:checked + .toggle-switch {
  background: var(--yellow);
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 20px;
}
.toggle-switch.toggle:hover,
.toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  content: "";
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

nav button {
  background: none;
  border: 0;
  font: inherit;
  line-height: 1;
  transition: 0.25s;
  cursor: pointer;
  padding: 0.3em;
  border-radius: 0;
  box-shadow: none;
}

nav button:hover {
  box-shadow: inset 0 0 0 2em rgba(0, 0, 0, 0.05);
}

nav button.menu-selected,
nav button:focus,
nav button:hover {
  transform: skewX(-15deg);
}

button,
input[type="submit"] {
  font-family: monospace;
  padding: 0.5rem 1rem;
  outline: none;
  background-color: var(--yellow);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px var(--mid-gray);
}
button:hover,
input[type="submit"]:hover {
  background-color: var(--dark-yellow);
}
button:active,
input[type="submit"]:active {
  background-color: var(--dark-yellow);
  box-shadow: 0 2px var(--mid-gray);
  transform: translateY(2px);
}

button.btn-teal,
input[type="submit"] {
  font-family: monospace;
  padding: 0.5rem 1rem;
  outline: none;
  background-color: var(--teal);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #074c55;
}
button.btn-teal:hover,
input[type="submit"]:hover {
  background-color: var(--dark-teal);
}
button.btn-teal:active,
input[type="submit"]:active {
  background-color: var(--dark-teal);
  box-shadow: 0 2px #074c55;
  transform: translateY(2px);
}

button.btn-red,
input[type="submit"] {
  color: white;
  font-family: monospace;
  padding: 0.5rem 1rem;
  outline: none;
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #903c2b;
}
button.btn-red:hover,
input[type="submit"]:hover {
  background-color: var(--dark-red);
}
button.btn-red:active,
input[type="submit"]:active {
  background-color: var(--dark-red);
  box-shadow: 0 2px #903c2b;
  transform: translateY(2px);
}

footer {
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
  text-align: center;
  margin: 40px auto 20px;
  bottom: 0;
}

header.title {
  text-align: center;
  color: black;
  cursor: default;
}
.title h1 {
  margin: 0.3em;
}

main > div.content {
  width: 100%;
  margin: 0 auto;
  align-items: flex-start;
}
main div.wrapper {
  width: 100%;
}

main h2#content_header {
  width: 100%;
  margin: 0.8em auto;
}

.system-config-item {
  display: flex;
  flex-flow: column;
  align-items: baseline;
  margin-bottom: 1em;
}
.input-group-wifi {
  display: flex;
  flex-flow: row;
  gap: 8px;
  margin: 8px;
}

.input-group-wifi > div {
  display: flex;
  flex-flow: column;
  gap: 8px;
}
.input-group-wifi > div > label {
  align-items: center;
  text-align: end;
}
.input-group-wifi > div > input {
  align-items: center;
}
.btn-group-wifi {
  background: var(--yellow) !important;
  padding: 1em !important;
}
.system-config-item input {
  font-size: 1.25em;
}
.system-config-item label {
  line-height: 25px;
}

.mark {
  background: linear-gradient(
    to right,
    var(--light-yellow) 0%,
    var(--dark-yellow) 100%
  );
  width: fit-content;
}

article {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
section {
  padding: 2rem 1.5rem;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  overflow: hidden;
  /* min-height: 450px; */
  box-shadow: 0 0 5px rgba(10, 10, 10, 0.3);
  border-radius: 0.25rem;
}

ul {
  margin: 0;
  padding-inline-start: 2rem;
}

li ul {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#article_vision img {
  max-height: 420px;
  max-width: 560px;
  width: 100%;
}

#article_vision > section > div {
  margin: 1em 0;
}
.vertical {
  display: flex;
  flex-flow: column;
}
.gap-8 {
  gap: 0.5em;
}

p.label,
span.label,
label.label {
  font-size: 14px;
  font-weight: bold;
}

.pibo-section {
  position: relative;
  min-width: 590px;
}
.pibo-section > img {
  width: 560px;
  height: auto;
  filter: opacity(0.55);
  margin: 0 auto;
}
.motion-input-group {
  margin-top: 68px;
  width: 560px;
  height: 560px;
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  left: calc(calc(100% - 560px) / 2);
}
.motion-input-group > div {
  width: calc(560px / 4);
}
.motion-input-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 8px;
}
.motion-input-label {
  display: flex;
  flex-flow: row;
  align-items: center;
}
.motion-input-label input {
  width: 42px;
}
.motion-input-label span {
  font-size:1.15rem;
  width: 100%;
}
.motion-input-row:nth-child(2) {
  margin-top: 100px;
  margin-bottom: 20px;
}
.motion-input-row:nth-child(3) {
  column-gap: 120px;
}
.motion-input-row:nth-child(4) {
  margin-top: 60px;
  column-gap: 270px;
}
.motion-input-row:nth-child(5) {
  column-gap: 32px;
  margin-top: 70px;
}
.motion-input-row:nth-child(6) {
  margin-top: 110px;
  column-gap: 30px;
}
#init_bt {
  position: absolute;
}

.motion-timeline-label {
  display: flex;
  justify-content: space-between;
}
.motion-timeline-group {
  display: flex;
  flex-flow: row;
  gap: 1em;
  align-items: center;
}
.motion-timeline-group input[type="range"] {
  width: 100%;
}

.motion-timeline-range {
  width: 100%;
}

.motion-timeline-input {
  display: flex;
  align-items: baseline;
  flex: 1;
  gap: 8px;
}

input[id="motion_name_val"] {
  width: 205px;
}

.motion-table-wrap {
  height: 510px;
  overflow-y: scroll;
  margin: 0.5em 0;
  border: 1px solid var(--light-green);
  border-radius: 2px;
}
.motion-record {
  display: flex;
  flex-flow: column;
}

.motion-path > input#filename {
  width: 50%;
}
.motion-path + textarea {
  width: 100%;
  margin-top: 1em;
  max-height: 100px;
  resize: none;
}
.motion-name-wrap {
  margin-bottom: 0.5em;
}
.motion-name-wrap button,
.motion-path button {
  font-size: 12px;
  width: 74px;
}

#record_table {
  width: 100%;
  flex: 1;
  text-align: center;
  border-spacing: 1px;
}

#record_table thead td:nth-child(n + 2) {
  background: var(--light-green);
}
#record_table tbody td:first-child {
  background: var(--light-yellow);
}
#record_table tbody td:nth-child(n + 2) {
  background: white;
}

thead {
  background-color: var(--yellow);
  text-align: center;
}
tbody {
  background-color: var(--light-yellow);
}

.chatbot-input-group {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
}

.chatbot-input-group input {
  width: 100%;
}

#c_record_tb {
  width: 100%;
  flex: 1;
  text-align: center;
  border-spacing: 1px;
}

.eye-color-group {
  display: flex;
  justify-content: space-around;
}

.eye-color-input-group {
  gap: 8px;
  justify-content: center;
}

.eye-color-input-group > div {
  display: flex;
  gap: 8px;
}

.eye-color-input-group > div > div {
  display: flex;
  flex-flow: column;
}

.eye-color-input-group span.label {
  text-align: center;
  width: 100%;
  display: inline-block;
  font-size: 16px;
}
.eye-color-input-group label.label {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 4px;
}
.eye-color-input-group input[type="number"] {
  max-width: 60px;
}
.device-status-group {
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.oled-group > input {
  width: 54px;
}
.oled-group > div > input {
  width: 100%;
  margin-top: 8px;
}
