<!doctype html>
<html>
  <head>
    <meta charset='utf-8' /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>MCU SIMULATOR</title>
    <script src="{{url_for('static', filename='socket.io.js')}}"></script>
    <script src="{{url_for('static', filename='jquery-3.1.1.min.js')}}"></script>
    <script>
      $(function(){
        var socket = io();
        socket.on('update_neopixel', function(data){
          $('#left_r').val(data[0]);
          $('#left_g').val(data[1]);
          $('#left_b').val(data[2]);
          $('#right_r').val(data[3]);
          $('#right_g').val(data[4]);
          $('#right_b').val(data[5]);
          $('#n_left_r').text(data[0]);
          $('#n_left_g').text(data[1]);
          $('#n_left_b').text(data[2]);
          $('#n_right_r').text(data[3]);
          $('#n_right_g').text(data[4]);
          $('#n_right_b').text(data[5]);
        });
       
        socket.on('update_battery', function(data){
          $('#battery').text(data);
        });

        socket.on('update_device', function(data){
          $('#pir').text(data[0]);
          $('#touch').text(data[1]);
          $('#dc').text(data[2]);
          $('#button').text(data[3]);
        });

        $('#left_r').on('input', function(){
          var v = $('#left_r').val();
          $('#n_left_r').text(v);
          socket.emit('set_neopixel', {idx:0, value:v});
        });
        $('#left_g').on('input', function(){
          var v = $('#left_g').val();
          $('#n_left_g').text(v);
          socket.emit('set_neopixel', {idx:1, value:v});
        });
        $('#left_b').on('input', function(){
          var v = $('#left_b').val();
          $('#n_left_b').text(v);
          socket.emit('set_neopixel', {idx:2, value:v});
        });
        $('#right_r').on('input', function(){
          var v = $('#right_r').val();
          $('#n_right_r').text(v);
          socket.emit('set_neopixel', {idx:3, value:v});
        });
        $('#right_g').on('input', function(){
          var v = $('#right_g').val();
          $('#n_right_g').text(v);
          socket.emit('set_neopixel', {idx:4, value:v});
        });
        $('#right_b').on('input', function(){
          var v = $('#right_b').val();
          $('#n_right_b').text(v);
          socket.emit('set_neopixel', {idx:5, value:v});
        });
      });
    </script>
  <style>
    @font-face {
      font-family: 'DungGeunMo';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    input{font-family: 'DungGeunMo';}
    body{
      font-family: 'DungGeunMo';
    }
    table, td, th {
      border-collapse: collapse;
      border: 2px solid black;
    };
  </style>
  </head>
  <body>
  <div style="width:1000px;border-radius:10px/10px;text-align:center;">
    <h1> 장치 제어하기</h1>
  </div>
  <div style="width:1000px;border-radius:5px;border:1px dotted; padding:10px;center">
  <table style="width:1000px;">
    <tr>
      <th colspan="2" style="width:200px;"><i>눈 색상 조절하기</i></th>
      <th colspan="2"><i>디바이스 상태 정보</i></th>
    </tr>
    <tr>
      <td rowspan="5">
        (<i>오른쪽</i>)<br>
        R:<input type='range'  id='left_r' value='0' min='0' step='5' max='255' />
        <span id='n_left_r'></span><br>
        G:<input type='range'  id='left_g' value='0' min='0' step='5' max='255' />
        <span id='n_left_g'></span><br>
        B:<input type='range'  id='left_b' value='0' min='0' step='5' max='255' />
        <span id='n_left_b'></span>
      </td>
      <td rowspan="5">
        (<i>왼쪽</i>)<br>
        R:<input type='range' id='right_r' value='0' min='0' step='5' max='255' />
        <span id='n_right_r'></span><br>
        G:<input type='range' id='right_g' value='0' min='0' step='5' max='255' />
        <span id='n_right_g'></span><br>
        B:<input type='range' id='right_b' value='0' min='0' step='5' max='255' />
        <span id='n_right_b'></span><br>
      </td>
      <td>배터리:</td>
      <td style="width:75px;"><span id='battery'></span></td>
    </tr>
    <tr>
      <td>전원코드:</td>
      <td><span id='dc'></span></td>
    </tr>
    <tr>
      <td>버튼:</td>
      <td><span id='button'></span></td>
    </tr>
    <tr>
      <td>인체감지센서(PIR):</td>
      <td><span id='pir'></span></td>
    </tr>
    <tr>
      <td>터치센서:</td>
      <td><span id='touch'></span></td>
    </tr>
  </table>
  </div>
© Copyright 2022, Circulus Education - THE MAKER
</body>
</html>
