<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <title>CHATBOT SIMULATOR</title>
    <script src="{{url_for('static', filename='socket.io.js')}}"></script>
    <script src="{{url_for('static', filename='jquery-3.1.1.min.js')}}"></script>
    <script>
      $(function(){
        const socket = io()

        $("#question").on("keyup", function() {
          $(this).val($(this).val().replace(/[^ㄱ-ㅣ가-힣 | 0-9]/g,""));
        });

        $('#question').keypress(function(key){
          if(key.keyCode == 13){ // enter
            q = $('#question').val().trim()
	    if(q == ''){
	      alert("질문을 입력하세요")
	      return;
	    }
	    socket.emit('question', q)
	  }
	});

        socket.on("answer", function(data){
          $("#answer").val(data['answer'])
          $('#record > tbody').empty()
          rec = data['record']  
	  $('#record').append(
	    $('<tr>').append(
	      $('<td>').append($('<b>').append("시간")),
	      $('<td>').append($('<b>').append("질문")),
	      $('<td>').append($('<b>').append("대답"))
	    )
	  )
	  
	  for(idx in rec){
	    if(rec[idx].length == 0)
	      continue
            
	    $('#record').append(
	      $('<tr>').append(
	        $('<td>').append(rec[idx][0]),
	        $('<td>').append(rec[idx][1]),
	        $('<td>').append(rec[idx][2])
	      )
	    )
	  }
        })
      })
    </script>
    <style type="text/css">
      @font-face {
        font-family: 'DungGeunMo';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }      
      input{font-family: 'DungGeunMo';}
      body{
        font-family: 'DungGeunMo';
      }
    </style>
  </head>
  <body>
    <div style="width:1000px;border-radius:10px/10px;text-align:center;">
      <h1>로봇과 대화하기</h1>
    </div>

    <h2>질문하기(한글만 가능)</h2>
    <div style="width:1000px;border:1px dotted; padding:10px;">
    질문: <br>
    <input type="text" id="question" placeholder="질문을 입력하세요" style="width:100%">
    <br><br>
    대답: <br>
    <input type="text" id="answer" disabled style="width:100%">
    </div>
    <br><br>
   
    <h2>대화기록</h2>
    <div style="width:1000px;border:1px dotted; padding:10px;">
      <table id="record" style="width:100%"><tbody></tbody></table>
    </div>
    <br><br>

© Copyright 2022, Circulus Education - THE MAKER
  </body>
</html>
