<!doctype html>
<html>
  <head>
    <meta charset='utf-8' /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>VISION SIMULATOR</title>
    <script src="{{url_for('static', filename='socket.io.js')}}"></script>
    <script src="{{url_for('static', filename='jquery-3.1.1.min.js')}}"></script>
    <script>
      $(function(){
        const socket = io();
	socket.on('stream', function(data){
          $('#im_in').attr('src', 'data:image/jpeg;charset=utf-8;base64,'+data);
	});

	$('#detect').click(function(){
	  socket.emit('detect', '');
	});
	socket.on('detect', function(data){
          $('#im_out').attr('src', 'data:image/jpeg;charset=utf-8;base64,'+data['img']);
          $('#res_face').text(data['data']['face'])
          $('#res_qr').text(data['data']['qr'])
          $('#res_obj').text(data['data']['object'])
	});

        $('#cartoon').click(function(){
	  socket.emit('cartoon', '');
	});
	socket.on('cartoon', function(data){
          $('#im_out').attr('src', 'data:image/jpeg;charset=utf-8;base64,'+data);
	});
      });
    </script>
  <style>
    @font-face {
      font-family: 'DungGeunMo';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }
    input{font-family: 'DungGeunMo';}
    body{
      color: #4c5052;
      font-size:14px;
      font-family: 'DungGeunMo';
    }
    table, td, th {
      border-collapse: collapse;
      border: 2px solid black;
    };
  </style>
  </head>
  <body>
  <div style="width:1300px;border-radius:10px/10px;text-align:center;">
    <h1> 카메라 제어하기</h1>
  </div>
  <div style="width:1300px;border-radius:5px;border:1px dotted; padding:10px;">
  <table>
    <tr>
      <th><i>카메라</i></th>
      <th><i>결과</i></th>
    </tr>
    <tr>
      <td><img width="640" id="im_in"></td>
      <td><img width="640" id="im_out"></td>
    </tr>
    <tr>
      <td>
        <button id="cartoon">만화사진으로 바꾸기</button>
        <button id="detect">얼굴/사물/QR코드 인식하기</button>
      </td>
      <td>
	얼굴: <span id="res_face"></span><br>
	QR코드: <span id="res_qr"></span><br>
	사물인식: <span id="res_obj"></span>
      </td>
    </tr>
  </table>
</div>
© Copyright 2022, Circulus Education - THE MAKER
</body>
</html>
