<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Openpibo Ide</title>
    <script src="../static/8fb5dc8e84.js" crossorigin="anonymous"></script>
    <script src="../static/codemirror.js"></script>
    <link rel="stylesheet" href="../static/codemirror.css">
    <link rel="stylesheet" href="../static/cobalt.css">
    <script src="../static/python.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/mode/javascript/javascript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.61.0/mode/shell/shell.js"></script>
    <link rel="shortcut icon" href="../static/icon.png" type="image/x-icon" />
    <script src="../static/socket.io.js"></script>
    <script src="../static/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="../static/index.css" />
    <script>
      $(function(){
        const socket = io();
        const codeMirrorMode = {'python':'python', 'nodejs':'javascript', 'shell':'shell'};
        const filePath = {'python':'/tmp/test.py', 'nodejs':'/tmp/test.js', 'shell':'/tmp/test.sh'};
        let editor = CodeMirror.fromTextArea(document.getElementById('codemirror-code'),
                {
                  "lineNumbers": "true",
                  "mode": codeMirrorMode[$('input[name=codetype]:checked').val()],
                  "theme": "cobalt"
                }
            );

        $('input[name=codetype]').change(function(){
          let code_type = $('input[name=codetype]:checked').val();
          editor.setOption('mode', codeMirrorMode[code_type]);
          $('#codepath').val(filePath[code_type]);
        });

        $('input[name=codepath]').keypress(function(evt){
          if(evt.keyCode == 13){
            let comment = "[THE MAKER] 아래 파일을 불러오겠습니까?";
            comment += "\n=========================================";
            comment += "\nFile: " + $('#codepath').val();
            if(confirm(comment)) socket.emit('load', $('#codepath').val());
          }
        });

        $('#code_form').on("submit", function(event){
          $("#update").text('')
          event.preventDefault();
          socket.emit('compile', {
            'type':$('input[name=codetype]:checked').val(),
            'path':$('#codepath').val(),
            'text':$(this).find('[name=source_code]').val()
          });
        });

        $('#view').click(function(){
          socket.emit('view', $('#imgpath').val());
        });

        socket.on('update', function(data){
          if('code' in data){
            editor.setOption('value', '');
            editor.setOption('value', data['code']);
          }

          if('image' in data){
            $("#image").attr({
              "src":"data:image/jpeg;charset=utf-8;base64," + data['image'],
              "height":"240"
            });
          }

          if('record' in data){
            $("#update").text(data['record'])
            $('#update').scrollTop($('#update').prop('scrollHeight'));
          }
        });

        $('#stop').click(function(){
          socket.emit('stop', $('#codepath').val());
        });

        $('#tool_bt').click(function(){
          $(location).attr('href', 'http://'+window.location.hostname + ':80');
        });
      });
    </script>
  </head>
  <body>
    <header class='title'>
      <h1>Openpibo IDE</h1>
    </header>
    <main>
      <nav>
        <button type='submit' form='code_form'><i class="fa fa-solid fa-play"></i></button>
        <button id='stop'><i class="fa-solid fa-stop"></i></button>
        <button id="view"><i class="fa-solid fa-image"></i></button>
      </nav>
      <h3><i class="fa-regular fa-hand-point-right">Write your code and Test it !!!</i></h3>
      <div style="margin:0 auto">
        <div style="width:1000px;height:650px;padding: 5px;float:left">
          <h4>
            <i class="fa-solid fa-code">
              <input type='radio' name='codetype' value='python' checked>Python</input>
              <input type='radio' name='codetype' value='nodejs'>Node.js</input>
              <input type='radio' name='codetype' value='shell'>Shell</input>
            </i>
          </h4>
          <input type='text' id='codepath' name='codepath' value="/tmp/test.py" />
          <form id='code_form'>
        <textarea id='codemirror-code' name='source_code'></textarea>
      </form>
        </div>
        <div style="width:600px;height:650px;padding:5px;float:right">
          <h4><i class="fa-solid fa-laptop"> Output(Image)</i></h4>
          <input type='text' id='imgpath' value="/tmp/test.jpg" />
          <div style="width:320px;height:240px;margin:auto">
            <img id='image' />
          </div>
          <h4><i class="fa-solid fa-laptop-code"> Output</i></h4>
          <textarea id='update' style="width:600px;height:330px;padding:5px" disabled></textarea>
        </div> 
      </div>
    </main>
    <a id='tool_bt'>[Go to the <u>Openpibo Tools</u>]</a>
    <footer>© Copyright 2022, Circulus Education - THE MAKER</footer>
  </body>
</html>
