<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Openpibo Ide</title>
    <script src="../static/8fb5dc8e84.js" crossorigin="anonymous"></script>
    <script src="../static/codemirror.js"></script>
    <link rel="stylesheet" href="../static/codemirror.css">
    <link rel="stylesheet" href="../static/cobalt.css">
    <script src="../static/python.js"></script>
    <link rel="shortcut icon" href="../static/icon.png" type="image/x-icon" />
    <script src="../static/socket.io.js"></script>
    <script src="../static/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="../static/index.css" />
    <script>
      $(function(){
        const socket = io();
        $('#tool_bt').click(function(){
          $(location).attr('href', 'http://'+window.location.hostname + ':80');
	});
	$('#stop').click(function(){
	  socket.emit('stop');
	});
	$('#show').click(function(){
	  socket.emit('show');
	});

	socket.on("show", function(data){
          $("#image").attr({
	      "src":"data:image/jpeg;charset=utf-8;base64," + data,
              "height":"240"
	  });
	});

	$('#code_form').on("submit", function(event){
          $("#update").text('')
          event.preventDefault();

          console.log($(this).find('[name=source_code]').val())
          socket.emit('compile', $(this).find('[name=source_code]').val())
	});

	socket.on('update', function(data){
          $("#update").text(data)
	  const top = $('#update').prop('scrollHeight');
	  $('#update').scrollTop(top);
        });

        socket.emit('info')
	socket.on('info', function(data){
          console.log(data)
	  $('#path').text(data['codepath'] + ", " + data['imgpath'])
	});
      });
    </script>
  </head>
  <body>
    <header class='title'>
      <h1>Openpibo IDE</h1>
    </header>
    <main>
      <nav>
        <button type='submit' form='code_form'><i class="fa fa-solid fa-play"></i></button>
        <button id='stop'><i class="fa-solid fa-stop"></i></button>
        <button id="show"><i class="fa-solid fa-image"></i></button>
      </nav>
      <h3><i class="fa-regular fa-hand-point-right"> <span id='path'></span></i></h3>
      <div style="margin:0 auto">
        <div style="width:1000px;height:650px;padding: 5px;float:left">
          <h4><i class="fa-solid fa-code"> python3</i></h4>
          <form id='code_form'>
	    <textarea id='codemirror-code' name='source_code'></textarea>
            <script>
              var editor_for_source_code = CodeMirror.fromTextArea(
                document.getElementById('codemirror-code'), {
                  "lineNumbers": "true",
                  "mode": "python",
                  "theme": "cobalt"
                }
              );
            </script>
	  </form>
        </div>
        <div style="width:600px;height:650px;padding:5px;float:right">
          <h4><i class="fa-solid fa-laptop"> Output(Image)</i></h4>
	  <div style="width:320px;height:240px;margin:auto">
            <img id='image' />
	  </div>
          <h4><i class="fa-solid fa-laptop-code"> Output</i></h4>
          <textarea id='update' style="width:600px;height:330px;padding:5px" disabled></textarea>
        </div> 

      </div>
    </main>
    <a id='tool_bt'>[openpibo-tools]</a>
    <footer>© Copyright 2022, Circulus Education - THE MAKER</footer>
  </body>
</html>
