<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Openpibo Ide</title>
    <script src="../static/8fb5dc8e84.js" crossorigin="anonymous"></script>
    <script src="../static/codemirror.js"></script>
    <link rel="stylesheet" href="../static/codemirror.css">
    <link rel="stylesheet" href="../static/cobalt.css">
    <script src="../static/python.js"></script>
    <script src="../static/javascript.js"></script>
    <script src="../static/shell.js"></script>
    <link rel="shortcut icon" href="../static/icon.png" type="image/x-icon" />
    <script src="../static/socket.io.js"></script>
    <script src="../static/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="../static/index.css" />
    <script>
      $(function(){
        const socket = io();
        const codeMirrorMode = {'python':'python', 'nodejs':'javascript', 'shell':'shell'};
        const filePath = {'python':'/tmp/test.py', 'nodejs':'/tmp/test.js', 'shell':'/tmp/test.sh'};
        let editor = CodeMirror.fromTextArea(document.getElementById('codemirror-code'),
                {
                  "lineNumbers": "true",
                  "mode": codeMirrorMode[$('input[name=codetype]:checked').val()],
                  "theme": "cobalt"
                }
            );

        $('input[name=codetype]').change(function(){
          let code_type = $('input[name=codetype]:checked').val();
          editor.setOption('mode', codeMirrorMode[code_type]);
          $('#codepath').val(filePath[code_type]);
        });

        $('#load').click(function(){
        //$('input[name=codepath]').keypress(function(evt){
        //  if(evt.keyCode == 13){
            let comment = "[THE MAKER] 아래 파일을 불러오겠습니까?";
            comment += "\n=========================================";
            comment += "\nFile: " + $('#codepath').val();
            if(confirm(comment)) socket.emit('load', $('#codepath').val());
        //  }
        });

        $('#code_form').on("submit", function(event){
          $("#update").text('')
          event.preventDefault();
          socket.emit('compile', {
            'type':$('input[name=codetype]:checked').val(),
            'path':$('#codepath').val(),
            'text':$(this).find('[name=source_code]').val()
          });
        });

        $('#view').click(function(){
          socket.emit('view', $('#imgpath').val());
        });

        socket.on('update', function(data){
          if('code' in data){
            editor.setOption('value', '');
            editor.setOption('value', data['code']);
          }

          if('image' in data){
            $("#image").attr({
              "src":"data:image/jpeg;charset=utf-8;base64," + data['image'],
              "height":"240"
            });
          }

          if('record' in data){
            $("#update").text(data['record'])
            $('#update').scrollTop($('#update').prop('scrollHeight'));
          }
        });

        $('#stop').click(function(){
          socket.emit('stop', $('#codepath').val());
        });

        $('#tool_bt').click(function(){
          $(location).attr('href', 'http://'+window.location.hostname + ':80');
        });

        socket.emit("system");
        setInterval(function () {
          socket.emit("system");
        }, 10000);
        socket.on("system", function (data) {
          $("#s_serial").text(data[0]);
          $("#s_os_version").text(data[1]);
          $("#s_runtime").text(Math.floor(data[2] / 3600) + " Hours");
          $("#s_cpu_temp").text(data[3]);
          $("#s_memory").text(Math.floor((data[5] / data[4] / 4) * 100) + " %");
          $("#s_network").text(data[6] + "/" + data[7].replace("\n", ""));
        });
      });
    </script>
  </head>
  <body>
    <header class='title'>
      <h1>Openpibo IDE</h1>
    </header>
    <main>
      <nav>
        <button type='submit' form='code_form'>실행하기</button>
        <button id='stop'>정지하기</button>
      </nav>
      <aside class="status">
        <div>
          <div class="status_row">
            <span>Wi-Fi (wlan0)</span>
            <span id="s_network"></span>
            <span>CPU 온도</span>
            <span id="s_cpu_temp"></span>
            <span>메모리</span>
            <span id="s_memory"></span>
          </div>
          <div class="status_row">
            <span>일련번호</span>
            <span id="s_serial"></span>
            <span>버전</span>
            <span id="s_os_version"></span>
            <span>동작시간</span>
            <span id="s_runtime"></span>
          </div>
        </div>
      </aside>
      <br>
      <div style="margin:0 auto">
        <div style="width:1000px;height:640px;padding:5px;float:left">
            <i class="fa-solid fa-code">
	      프로그램 선택: 
              <input type='radio' name='codetype' value='python' checked>Python</input>
              <input type='radio' name='codetype' value='nodejs'>Node.js</input>
              <input type='radio' name='codetype' value='shell'>Shell</input>
            </i>
	    <br>
            파일경로: <input type='text' id='codepath' name='codepath' value="/tmp/test.py" />
            <button id="load">불러오기</button>
	    <br>
          <form id='code_form'>
            <textarea id='codemirror-code' name='source_code'></textarea>
          </form>
        </div>
        <div style="width:600px;height:640px;padding:5px;float:right">
          <i class="fa-solid fa-laptop"> 이미지보기</i>
	  <br>
          파일경로: <input type='text' id='imgpath' value="/tmp/test.jpg" />
          <button id="view">불러오기</button>
	  <br>
          <div style="width:320px;height:240px;margin:auto">
            <img id='image' />
          </div>
          <h4><i class="fa-solid fa-laptop-code"> 실행결과</i></h4>
          <textarea id='update' style="width:600px;height:340px;padding:5px" disabled></textarea>
        </div> 
      </div>
    </main>
    <a id='tool_bt'>[<u>Openpibo Tools</u>로 바로가기]</a>
    <footer>© Copyright 2022, Circulus Education - THE MAKER</footer>
  </body>
</html>
