<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 user-scalable=no"
    />
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="../static/manifest.json">
    <title>Pibo Maker</title>
    <link rel="stylesheet" href="../static/all.min.css?v1" type="text/css" />
    <link
      rel="shortcut icon"
      href="../static/icon.png"
      type="image/x-icon"
    />
    <script src="../static/socket.io.js"></script>
    <script src="../static/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="../static/index.css?v1" />
  </head>
  <body>
    <header class="title">
      <div style="float:left">
        <h2>
          <i class="fa-solid fa-microchip"> Tools <span id="state"></span></i>
        </h2>
      </div>
      <div style="float:right">
        <h2>
          <a id='logo_bt'>
            <img src="../static/themaker.png" style="height:22px"/>
          </a>
        </h2>
      </div>
    </header>
    <main>
      <nav>
        <ul>
          <li style="padding:10px 0 20px 0">
              <label class="toggle">
                <input
                  class="toggle-checkbox"
                  type="checkbox"
                  name="onoff_sel"
                  disabled
                />
                <div class="toggle-switch"></div>
              </label>
          </li>
          <li><button name="home"></li>
          <li><button name="device"></li>
          <li><button name="motion"></li>
          <li><button name="vision"></li>
          <li><button name="speech"></li>
        </ul>
      </nav>
      <div class="content">
        <div class="wrapper">
          <h4 id="content_header">HOME</h4>
          <article id="article_home">
            <section>
              <ul>
                <li><span class="label">Home</span>
                  <ul>    
                    <li>인터넷 설정하기</li>
                    <li>소리크기 설정하기</li>
                    <li>눈색상 확인하기</li>
                    <li>소프트웨어 업데이트, 종료하기, 재시작하기</li>
                  </ul>
                </li>
                <li>
                  <span class="label">Device</span>
                  <ul>    
                    <li>눈색상 조정하기</li>
                    <li>오디오 사용하기</li>
                    <li>디스플레이(OLED) 사용하기</li>
                    <li>센서 인식하기</li>
                  </ul>
                </li>
                <li>
                  <span class="label">Motion</span>
                  <ul>    
                    <li>모터 제어하기</li>
                    <li>모션 만들기</li>
                  </ul>
                </li>
                <li>
                  <span class="label">Camera</span>
                  <ul>    
                    <li>사진 저장하기</li>
                    <li>컴퓨터비전 기능 체험하기
                      <ul>
                        <li>만화화, QR코드/얼굴/사물/포즈 인식, 티쳐블머신 이미지 분류</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <span class="label">Speech</span>
                  <ul>
                    <li>TTS(Text To Speech) 사용하기</li>
                    <li>챗봇 사용하기</li>
                  </ul>
                </li>
              </ul>
            </section>
            <section>
              <h3 class="mark">시스템 설정</h3>
              <div class="system-config-item">
                <header>인터넷 설정하기</header>
                <div class="input-group-wifi">
                  <div class="group-labels">
                    <label for="ssid" class="label">
                      wifi 이름:
                      <input type="text" name="ssid" id="ssid" required />
                    </label>
                    <label for="password" class="label">
                      비밀번호:
                      <input type="password" name="password" id="password" required />
                    </label>
                  </div>
                  <button id='wifi_bt'>
                    <i class="fa-solid fa-check-double"></i>
                    확인하기
                  </button>
                </div>
              </div>
              <div class="system-config-item">
                <header>소리크기 설정하기</header>
                <div>
                  <input
                    type="number"
                    id="volume"
                    min="0"
                    max="100"
                    value="80"
                    pattern="\d*"
                  />
                  <i class="fa-solid fa-percent"></i>
                </div>
              </div>
              <div class="system-config-item">
                <header>눈 색상 확인하기</header>
                <input
                  type="text"
                  name="eye"
                  id="eye"
                  style="width: 200px"
                  disabled
                />
              </div>
              <div class="system-config-item">
                <div>
                  <button id="swupdate_bt">
                    <i class="fa-solid fa-rotate"></i>
                    소프트웨어 업데이트
                  </button>
                  <button id="poweroff_bt">
                    <i class="fa-solid fa-power-off"></i>
                    종료하기
                  </button>
                  <button id="restart_bt">
                    <i class="fa-solid fa-arrow-rotate-left"></i>
                    재시작하기
                  </button>
                </div>
              </div>
            </section>
          </article>
          <article id="article_device">
            <section>
              <div>
                <div style="float:left">
                  <h3 class="mark">눈 색상 조정하기</h3>
                </div>
                <div style="float:right">
                  <button id="eye_save_bt">
                    <i class="fa-solid fa-check-double"></i>
                    저장하기
                  </button>
                </div>
              </div>

              <div class="eye-color-group">
                <div class="eye-color-input-group">
                  <span class="label">오른쪽</span>
                  <div>
                    <div>
                      <label for="d_n0_val" class="label">빨강</label>
                      <input
                        type="number"
                        name="d_n0_val"
                        id="d_n0_val"
                        value="0"
                        min="0"
                        step="5"
                        max="255"
                        pattern="\d*"
                      />
                    </div>
                    <div>
                      <label for="d_n1_val" class="label">초록</label>
                      <input
                        type="number"
                        name="d_n1_val"
                        id="d_n1_val"
                        value="0"
                        min="0"
                        step="5"
                        max="255"
                        pattern="\d*"
                      />
                    </div>
                    <div>
                      <label for="d_n2_val" class="label">파랑</label>
                      <input
                        type="number"
                        name="d_n2_val"
                        id="d_n2_val"
                        value="0"
                        min="0"
                        step="5"
                        max="255"
                        pattern="\d*"
                      />
                    </div>
                  </div>
                </div>
                <div class="eye-color-input-group">
                  <span class="label">왼쪽</span>
                  <div>
                    <div>
                      <label for="d_n3_val" class="label">빨강</label>
                      <input
                        type="number"
                        name="d_n3_val"
                        id="d_n3_val"
                        value="0"
                        min="0"
                        step="5"
                        max="255"
                        pattern="\d*"
                      />
                    </div>
                    <div>
                      <label for="d_n4_val" class="label">초록</label>
                      <input
                        type="number"
                        name="d_n4_val"
                        id="d_n4_val"
                        value="0"
                        min="0"
                        step="5"
                        max="255"
                        pattern="\d*"
                      />
                    </div>
                    <div>
                      <label for="d_n5_val" class="label">파랑</label>
                      <input
                        type="number"
                        name="d_n5_val"
                        id="d_n5_val"
                        value="0"
                        min="0"
                        step="5"
                        max="255"
                        pattern="\d*"
                      />
                    </div>
                  </div>
                </div>
              </div>

              <div style="margin-top:30px">
                <h3 class="mark">오디오 사용하기</h3>
                <span class="label">마이크</span>
                <div style="margin-top:10px">
                  파일: <i class="fa-solid fa-folder-open"></i> /home/pi/stream.wav
                </div>
                <div style="margin-top:10px">
                  <input
                    type="number"
                    name="mic_time_val"
                    id="mic_time_val"
                    value="5"
                    min="1"
                    max="30"
                    pattern="\d*"
                  />
                  <span class="label">초</span>
                  <button id="mic_bt">
                    <i class="fa-solid fa-microphone"></i>
                    녹음하기
                  </button>
                  <button id="mic_replay_bt">
                    <i class="fa-solid fa-repeat"></i>
                    다시듣기
                  </button>
                  <i class="fa-solid fa-ellipsis"></i>
                  <span class="label" id="mic_status"></span>                      
                </div>
              </div>

              <div style="margin-top:30px">
                <span class="label">음악재생</span>
                <div style="margin-top:10px">
                  <select id="audiopath" name="audiopath">
                    <option value="-">폴더선택</option>
                    <option value="/home/pi/openpibo-files/audio/music">음악</option>
                    <option value="/home/pi/openpibo-files/audio/voice">목소리</option>
                    <option value="/home/pi/openpibo-files/audio/effect">효과음</option>
                    <option value="/home/pi/openpibo-files/audio/animal">동물소리</option>
                    <option value="/home/pi/myaudio">내 오디오</option>
                  </select>
                  <select id="audiofiles" name="audiofiles"><option value='-'>파일선택</option></select>
                  <button id="play_audio_bt">
                    <i class="fa-solid fa-play"></i>
                    재생하기
                  </button>
                  <button id="stop_audio_bt">
                    <i class="fa-solid fa-stop"></i>
                    정지하기
                  </button>
                </div>
              </div>
            </section>

            <section>
              <div>
                <div style="float:left">
                  <h3 class="mark">디스플레이(OLED) 사용하기</h3>
                </div>
                <div style="float:right">
                  <button id="clear_oled_bt">
                    <i class="fa-solid fa-eraser"></i>
                    초기화하기
                  </button>
                </div>
              </div>
              <div class="oled-group">
                <span class="label">문자입력하기</span>
                <div style="margin-top:10px">
                  <label for="d_ox_val" class="label">
                    <i class="fa-solid fa-x"></i>
                  </label>
                  <input
                    type="number"
                    name="d_ox_val"
                    id="d_ox_val"
                    value="0"
                    min="0"
                    max="128"
                    pattern="\d*"
                  />
                  <label for="d_oy_val" class="label">
                    <i class="fa-solid fa-y"></i>
                  </label>
                  <input
                    type="number"
                    name="d_oy_val"
                    id="d_oy_val"
                    value="0"
                    min="0"
                    max="64"
                    pattern="\d*"
                  />
                  <label for="d_osize_val" class="label">
                    <i class="fa-solid fa-text-width"></i>
                  </label>
                  <input
                    type="number"
                    name="d_osize_val"
                    id="d_osize_val"
                    value="10"
                    min="1"
                    max="50"
                    pattern="\d*"
                  />                  
                </div>
                <div style="margin-top:5px">
                  <label for="d_otext_val" class="label">
                    <i class="fa-solid fa-font"></i>
                  </label>
                  <input
                    type="text"
                    name="d_otext_val"
                    id="d_otext_val"
                    placeholder="문자를 입력하세요."
                  />
                  <button id="oled_bt">
                    <i class="fa-solid fa-check-double"></i>
                    출력하기
                  </button>
                </div>

                <div style="margin-top:30px">
                  <span class="label">사진입력하기(PC)</span>
                  <form method="post" action="/upload_oled" enctype="multipart/form-data" style="margin-top:5px">
                    <input type="file" id="upload_oled" accept=".jpg, .png">
                  </form>                  
                </div>

                <div style="margin-top:30px">
                  <span class="label">사진입력하기(로봇)</span>
                  <div style="margin-top:10px">
                    <select id="oledpath" name="oledpath">
                      <option value="-">폴더선택</option>
                      <option value="/home/pi/openpibo-files/icon/expression">표정</option>
                      <option value="/home/pi/openpibo-files/icon/game">가위바위보</option>
                      <option value="/home/pi/openpibo-files/icon/recycle">재활용</option>
                      <option value="/home/pi/openpibo-files/icon/weather">날씨</option>
                      <option value="/home/pi/openpibo-files/icon/etc">기타 이미지</option>
                      <option value="/home/pi/myimage">내 이미지</option>
                    </select>
                    <select id="oledfiles" name="oledfiles">
                      <option value="-">파일선택</option>
                    </select>
                  </div>
                </div>
              </div>
              <br>
              <div class="device-status-group">
                <h3 class="mark">센서 인식하기</h3>
                <div>
                  <span class="label">인체감지</span>
                  <i class="fa-solid fa-terminal"></i>
                  <i><span id="d_pir_val"></span></i>                  
                </div>
                <div>
                  <span class="label">터치감지</span>
                  <i class="fa-solid fa-terminal"></i>
                  <i><span id="d_touch_val"></span></i>
                </div>
                <div hidden>
                  <span class="label">버튼감지</span>
                  <i class="fa-solid fa-terminal"></i>
                  <i><span id="d_button_val"></span></i>                  
                </div>
              </div>
            </section>
          </article>
          <article id="article_motion" class="margin">
            <section class="pibo-section">
              <div>
                <div style="float:left">
                  <button id="init_bt">
                  <i class="fa-solid fa-person"></i>
                  원래자세
                </button>
                </div>
                <div style="float:right">
                  <span>시간:</span>
                  <input
                    type="number"
                    name="m_time_val"
                    id="m_time_val"
                    min="0"
                    max="300"
                    step="0.1"
                    value="0"
                    pattern="\d*"
                  />
                  <button id="add_frame_bt" class="btn-teal">
                    <i class="fa-solid fa-plus"></i>
                    추가하기
                  </button>
                </div>
              </div>
              <img src="../static/pibo_body.png" alt="pibo body" />
              <div class="motion-input-group">
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M5(Head Tilt)</span>
                      <input
                        type="number"
                        name="head_tilt_value"
                        id="m5_value"
                        min="-25"
                        max="25"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="head_tilt_range"
                      id="m5_range"
                      min="-25"
                      max="25"
                    />
                  </div>
                </div>
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M4(Head Pan)</span>
                      <input
                        type="number"
                        name="head_pan_value"
                        id="m4_value"
                        min="-50"
                        max="50"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="head_pan_range"
                      id="m4_range"
                      min="-50"
                      max="50"
                    />
                  </div>
                </div>
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M2(Right Arm)</span>
                      <input
                        type="number"
                        name="right_arm_value"
                        id="m2_value"
                        min="-80"
                        max="80"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="right_arm_range"
                      id="m2_range"
                      min="-80"
                      max="80"
                    />
                  </div>
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M8(Left Arm)</span>
                      <input
                        type="number"
                        name="left_arm_value"
                        id="m8_value"
                        min="-80"
                        max="80"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="left_arm_range"
                      id="m8_range"
                      min="-80"
                      max="80"
                    />
                  </div>
                </div>
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M3(Right Hand)</span>
                      <input
                        type="number"
                        name="right_hand_value"
                        id="m3_value"
                        min="-30"
                        max="30"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="right_hand_range"
                      id="m3_range"
                      min="-30"
                      max="30"
                    />
                  </div>
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M9(Left Hand)</span>
                      <input
                        type="number"
                        name="left_hand_value"
                        id="m9_value"
                        min="-30"
                        max="30"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="left_hand_range"
                      id="m9_range"
                      min="-30"
                      max="30"
                    />
                  </div>
                </div>
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M1(Right Leg)</span>
                      <input
                        type="number"
                        name="right_leg_value"
                        id="m1_value"
                        min="-35"
                        max="35"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="right_leg_range"
                      id="m1_range"
                      min="-35"
                      max="35"
                    />
                  </div>
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M7(Left Leg)</span>
                      <input
                        type="number"
                        name="left_leg_value"
                        id="m7_value"
                        min="-35"
                        max="35"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="left_leg_range"
                      id="m7_range"
                      min="-35"
                      max="35"
                    />
                  </div>
                </div>
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M0(Right Foot)</span>
                      <input
                        type="number"
                        name="right_foot_value"
                        id="m0_value"
                        min="-25"
                        max="25"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="right_foot_range"
                      id="m0_range"
                      min="-25"
                      max="25"
                    />
                  </div>
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M6(Left Foot)</span>
                      <input
                        type="number"
                        name="left_foot_value"
                        id="m6_value"
                        min="-25"
                        max="25"
                        pattern="\d*"
                      />
                    </div>
                    <input
                      type="range"
                      name="left_foot_range"
                      id="m6_range"
                      min="-25"
                      max="25"
                    />
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="motion-record">
                <div>
                  <span>재생횟수: </span>
                  <input
                    type="number"
                    name="play_cycle_val"
                    id="play_cycle_val"
                    min="1"
                    max="100"
                    value="1"
                    pattern="\d*"
                  />
                  <span> - </span>
                  <button id="play_frame_bt" class="btn-teal">
                    <i class="fa-solid fa-play"></i>
                    실행하기
                  </button>
                  <button id="stop_frame_bt" class="btn-teal">
                    <i class="fa-solid fa-stop"></i>
                    정지하기
                  </button>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                  <button id="init_frame_bt" class="btn-teal">
                    <i class="fa-solid fa-trash-can"></i>
                    모두지우기
                  </button>
                </div>
                <div class="motion-table-wrap">
                  <table id="motor_table">
                    <thead>
                      <tr>
                        <td>시간</td>
                        <td>M0</td>
                        <td>M1</td>
                        <td>M2</td>
                        <td>M3</td>
                        <td>M4</td>
                        <td>M5</td>
                        <td>M6</td>
                        <td>M7</td>
                        <td>M8</td>
                        <td>M9</td>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
                <div class="motion-name-wrap">
                  <span>모션이름:</span>
                  <input
                    type="text"
                    name="motion_name_val"
                    id="motion_name_val"
                  />
                  <button id="add_motion_bt" class="btn-red">
                    <i class="fa-solid fa-check-double"></i>
                    등록하기
                  </button>
                  <button id="load_motion_bt">
                    <i class="fa-solid fa-arrow-up-from-bracket"></i>
                    불러오기
                  </button>
                  <button id="delete_motion_bt">
                    <i class="fa-solid fa-minus"></i>
                    삭제하기
                  </button>
                  <i class="fa-solid fa-ellipsis-vertical"></i>
                  <button id="reset_motion_bt">
                    <i class="fa-solid fa-trash-can"></i>
                    모두지우기
                  </button>
                </div>
                <div class="motion-path">
                  <input type="text" value="/home/pi/mymotion.json" disabled>
                  <textarea name="motor_record" id="motor_record" rows="48" wrap="hard" disabled></textarea>
                  모션 예제:
                  <b>
                    <a id="motion_forward_bt" style="color:#df7e3d;cursor:pointer">forward</a>,
                    <a id="motion_backward_bt" style="color:#df7e3d;cursor:pointer">backward</a>,
                    <a id="motion_left_bt" style="color:#df7e3d;cursor:pointer">left</a>,
                    <a id="motion_right_bt" style="color:#df7e3d;cursor:pointer">right</a>,
                    <a id="motion_wave_bt" style="color:#df7e3d;cursor:pointer">wave</a>,
                    <a id="motion_welcome_bt" style="color:#df7e3d;cursor:pointer">welcome</a>,
                    <a id="motion_dance_bt" style="color:#df7e3d;cursor:pointer">dance</a>,
                    <a id="motion_foot_bt" style="color:#df7e3d;cursor:pointer">foot</a>,
                    <a id="motion_happy_bt" style="color:#df7e3d;cursor:pointer">happy</a>,
                    <a id="motion_sad_bt" style="color:#df7e3d;cursor:pointer">sad</a>
                  </b>
                </div>
              </div>
            </section>
          </article>
          <article id="article_vision">
            <section>
              <h3 class="mark">카메라</h3>
              <img id="v_img" />
            </section>
            <section>
              <h3 class="mark">Vision 설정</h3>
              <div>
                <header>기능 설정</header>
                <input type="radio" name="v_func_type" value="camera" checked>없음
                <input type="radio" name="v_func_type" value="cartoon">만화
                <input type="radio" name="v_func_type" value="qr">QR코드
                <input type="radio" name="v_func_type" value="face">얼굴
                <input type="radio" name="v_func_type" value="object">사물
                <input type="radio" name="v_func_type" value="pose">포즈
                <input type="radio" name="v_func_type" value="tm">티쳐블머신
              </div>
              <div>
                <header>티쳐블머신 모델 업로드</header>
                <form method="post" enctype="multipart/form-data">
                  <input type="file" id="v_upload_tm" accept=".zip">
                </form>
              </div>
              <div>
                <header>카메라</header>
                <button id="v_capture">
                  <i class="fa-solid fa-camera-retro"></i>
                  사진저장하기
                </button>
              </div>
              <h3 class="mark">인식결과</h3>
              <div>
                <span id="v_result"></span>
              </div>
            </section>
          </article>
          <article id="article_speech">
            <section>
              <h3 class="mark">기능 설정</h3>

              <div class="speech-input-group">
                <span class="label">대화데이터:</span>
                <form method="post" enctype="multipart/form-data">
                  <input type="file" id="s_upload_csv" accept=".csv">
                </form>
                <a id="s_reset_csv_bt" style="cursor:pointer">
                  <i class="fa-solid fa-eraser"></i>
                  <i>초기화하기</i>
                </a>
              </div>
              <div class="speech-input-group">
                <span class="label">음성:</span>
                <input type="radio" name="s_voice_en" value="on" checked>On
                <input type="radio" name="s_voice_en" value="off">Off
              </div>
              <div class="speech-input-group">
                <span class="label">파일:</span>
                <i class="fa-solid fa-folder-open"></i>/home/pi/speech.mp3
              </div>
              <div class="speech-input-group">
                <span class="label">음성종류:</span>
                <select name="s_voice_type">
                  <option value="espeak">기본음성</option>
                  <option value="main">파이보</option>
                  <option value="boy">남자아이</option>
                  <option value="girl">여자아이</option>
                </select>
              </div>
              <div class="speech-input-group">
                <span class="label">음성합성:</span>
                <input type="text" id="s_tts_val">
                <button id="s_tts_bt">
                  <i class="fa-solid fa-check-double"></i>
                  실행하기
                </button>
              </div>

              <h3 class="mark">대화하기</h3>
              <div class="speech-input-group">
                <span class="label">질문:</span>
                <input
                  type="text"
                  name="s_question_val"
                  id="s_question_val"
                  placeholder="안녕하세요. 반갑습니다."
                />
                <button id="s_chat_bt">
                  <i class="fa-solid fa-comment-dots"></i>
                  질문하기
                </button>
              </div>
              <div class="speech-input-group">
                <span class="label">대답:</span>
                <input
                  type="text"
                  name="s_answer_val"
                  id="s_answer_val"
                  disabled
                />
              </div>
            </section>
            <section>
              <h3 class="mark">대화기록 (최근 대화 10개)</h3>
              <div>
                <table id="s_record_tb">
                  <thead>
                    <tr>
                      <td style="width:100px"><b>시간</b></td>
                      <td><b>질문</b></td>
                      <td><b>대답</b></td>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </section>
          </article>
        </div>
      </div>
    </main>
  </body>
  <footer>
    <div style="float:left;padding:0.7rem 0 0.7rem 0">
        <a id="devtool_bt" >
          <i class="fa-solid fa-arrow-up-right-from-square"> IDE로 이동</i>
        </a>
        <i class="fa-brands fa-raspberry-pi"></i>
        <span id="s_os_version"></span>,
        <i class="fa-solid fa-id-badge"></i>
        <span id="s_serial"></span>
    </div>
    <div style="float:right;padding:0.7rem 0 0.7rem 0">
        <i class="fa-solid fa-wifi"></i>
        <span id="s_network"></span>,
        <i class="fa-solid fa-temperature-empty"></i>
        <span id="s_cpu_temp"></span>,
        <i class="fa-solid fa-memory"></i>
        <span id="s_memory"></span>,
        <i class="fa-solid fa-clock"></i>
        <span id="s_runtime"></span>,
        <span id="d_battery_val"></span> <span id="d_dc_val"></span>
    </div>
  </footer>
  <script src="../static/index.js?v1"></script>
</html>
