<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 user-scalable=no"
    />
    <title>Openpibo-Tools</title>
    <link
      rel="shortcut icon"
      href="../static/icon.png"
      type="image/x-icon"
    />
    <script
      src="../static/8fb5dc8e84.js"
      crossorigin="anonymous"
    ></script>
    <script src="../static/socket.io.js"></script>
    <script src="../static/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="../static/index.css?ver=1" />
  </head>
  <body>
    <header class="title">
      <a id="home_bt" class="mark" style="visibility: hidden"
        >〈〈 Tools로 이동</a
      >
      <h1>Openpibo Tools</h1>
      <a id="devtool_bt" class="mark">IDE로 이동 〉</a>
    </header>
    <main>
      <nav>
        <button name="home" />
        <button name="device" />
        <button name="motion" />
        <button name="vision" />
        <button name="chatbot" />
      </nav>
      <aside class="status">
        <div>
          <div class="status_row">
            <span>동 작</span>
            <span>
              <label class="toggle">
                <span class="toggle-label">Off</span>
                <input
                  class="toggle-checkbox"
                  type="checkbox"
                  name="onoff_sel"
                  disabled
                />
                <div class="toggle-switch"></div>
                <span class="toggle-label">On</span>
              </label>
            </span>
            <span>Wi-Fi (wlan0)</span>
            <span id="s_network"></span>
            <span>CPU 온도</span>
            <span id="s_cpu_temp"></span>
            <span>메모리</span>
            <span id="s_memory"></span>
          </div>
          <div class="status_row">
            <span>일련번호</span>
            <span id="s_serial"></span>
            <span>버전</span>
            <span id="s_os_version"></span>
            <span>동작시간</span>
            <span id="s_runtime"></span>
            <span>배터리</span>
            <span>
              <label>
                <span id="d_battery_val"></span> <span id="d_dc_val"></span>
              </label>
            </span>
          </div>
        </div>
      </aside>
      <div class="content">
        <div class="wrapper">
          <h2 id="content_header">HOME</h2>
          <article id="article_home">
            <section>
              <h3 class="mark">기능 설명</h3>
              <ul>
                <li>
                  <b>Device</b>
                  <ul>
                    <li>눈 색상 조정하기</li>
                    <li>센서인식(인체감지/터치센서, 버튼)하기</li>
                    <li>디스플레이(OLED) 사용하기</li>
                    <li>마이크 사용하기</li>
                  </ul>
                </li>
                <li>
                  <b>Motion</b>
                  <ul>
                    <li>모터 시뮬레이터 사용하기</li>
                    <li>모션 생성하기</li>
                  </ul>
                </li>
                <li>
                  <b>Vision</b>
                  <ul>
                    <li>카메라 사용하기</li>
                    <li>만화 이미지로 바꾸기</li>
                    <li>
                      이미지 분석하기(얼굴인식/분석, 사물인식, QR코드인식)
                    </li>
                  </ul>
                </li>
                <li>
                  <b>Chatbot</b>
                  <ul>
                    <li>대화하기</li>
                  </ul>
                </li>
              </ul>
            </section>
            <section>
              <h3 class="mark">시스템 설정</h3>
              <form action="" method="get" class="system-config-item">
                <header>Wi-Fi 설정 (pibo/!pibo0314)</header>
                <div class="input-group-wifi">
                  <div class="group-labels">
                    <label for="ssid" class="label">ssid: </label>
                    <label for="password" class="label">password: </label>
                  </div>
                  <div class="group-inputs">
                    <input type="text" name="ssid" id="ssid" required />
                    <input type="text" name="password" id="password" required />
                  </div>
                  <input type="submit" value="연결" class="btn-group-wifi" />
                </div>
              </form>
              <div class="system-config-item">
                <label for="kakaokey">카카오 개발 계정</label>
                <input
                  type="text"
                  name="kakaokey"
                  id="kakaokey"
                  style="width: 327px"
                />
                <button id="kakaokey_bt">수정</button>
              </div>
              <div class="system-config-item">
                <label for="eye">눈 색상</label>
                <input
                  type="text"
                  name="eye"
                  id="eye"
                  style="width: 327px"
                  disabled
                />
              </div>
              <div class="system-config-item">
                <label for="volume">음량 조절</label>
                <select name="volume">
                  <option value="80">중간</option>
                  <option value="90">크게</option>
                  <option value="70">작게</option>
                  <option value="100">아주크게</option>
                  <option value="60">아주작게</option>
                </select>
              </div>
              <div class="system-config-item">
                <label for="system">시스템</label>
                <div>
                  <button id="poweroff_bt">시스템 종료</button>
                  <button id="restart_bt">다시 시작</button>
                  <!--<button id="swupdate_bt">업데이트</button>-->
                </div>
              </div>
            </section>
          </article>
          <article id="article_vision">
            <section>
              <h3 class="mark">카메라</h3>
              <img id="v_im_in" />
              <div class="vertical gap-8">
                <button id="v_cartoon_bt">만화 이미지로 바꾸기</button>
                <button id="v_detect_bt">
                  이미지 분석하기(QR코드/얼굴/사물)
                </button>
              </div>
            </section>
            <section>
              <h3 class="mark">결과</h3>
              <img id="v_im_out" />
              <div class="vertical gap-8">
                <div>
                  <span class="label">QR코드:</span>
                  <span id="v_res_qr"></span>
                </div>
                <div>
                  <span class="label">얼굴:</span>
                  <span id="v_res_face"></span>
                </div>
                <div>
                  <span class="label">사물인식:</span>
                  <span id="v_res_obj"></span>
                </div>
              </div>
            </section>
          </article>
          <article id="article_motion">
            <section class="pibo-section">
              <img src="../static/pibo_body.png" alt="pibo body" />
              <button id="init_bt">원래자세</button>
              <div class="motion-input-group">
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M5(Head Tilt)</span>
                      <input
                        type="number"
                        name="head_tilt_value"
                        id="m5_value"
                        min="-25"
                        max="25"
                      />
                    </div>
                    <input
                      type="range"
                      name="head_tilt_range"
                      id="m5_range"
                      min="-25"
                      max="25"
                    />
                  </div>
                </div>
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M4(Head Pan)</span>
                      <input
                        type="number"
                        name="head_pan_value"
                        id="m4_value"
                        min="-50"
                        max="50"
                      />
                    </div>
                    <input
                      type="range"
                      name="head_pan_range"
                      id="m4_range"
                      min="-50"
                      max="50"
                    />
                  </div>
                </div>
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M2(Right Arm)</span>
                      <input
                        type="number"
                        name="right_arm_value"
                        id="m2_value"
                        min="-80"
                        max="80"
                      />
                    </div>
                    <input
                      type="range"
                      name="right_arm_range"
                      id="m2_range"
                      min="-80"
                      max="80"
                    />
                  </div>
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M8(Left Arm)</span>
                      <input
                        type="number"
                        name="left_arm_value"
                        id="m8_value"
                        min="-80"
                        max="80"
                      />
                    </div>
                    <input
                      type="range"
                      name="left_arm_range"
                      id="m8_range"
                      min="-80"
                      max="80"
                    />
                  </div>
                </div>
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M3(Right Hand)</span>
                      <input
                        type="number"
                        name="right_hand_value"
                        id="m3_value"
                        min="-30"
                        max="30"
                      />
                    </div>
                    <input
                      type="range"
                      name="right_hand_range"
                      id="m3_range"
                      min="-30"
                      max="30"
                    />
                  </div>
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M9(Left Hand)</span>
                      <input
                        type="number"
                        name="left_hand_value"
                        id="m9_value"
                        min="-30"
                        max="30"
                      />
                    </div>
                    <input
                      type="range"
                      name="left_hand_range"
                      id="m9_range"
                      min="-30"
                      max="30"
                    />
                  </div>
                </div>
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M1(Right Leg)</span>
                      <input
                        type="number"
                        name="right_leg_value"
                        id="m1_value"
                        min="-35"
                        max="35"
                      />
                    </div>
                    <input
                      type="range"
                      name="right_leg_range"
                      id="m1_range"
                      min="-35"
                      max="35"
                    />
                  </div>
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M7(Left Leg)</span>
                      <input
                        type="number"
                        name="left_leg_value"
                        id="m7_value"
                        min="-35"
                        max="35"
                      />
                    </div>
                    <input
                      type="range"
                      name="left_leg_range"
                      id="m7_range"
                      min="-35"
                      max="35"
                    />
                  </div>
                </div>
                <div class="motion-input-row">
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M0(Right Foot)</span>
                      <input
                        type="number"
                        name="right_foot_value"
                        id="m0_value"
                        min="-25"
                        max="25"
                      />
                    </div>
                    <input
                      type="range"
                      name="right_foot_range"
                      id="m0_range"
                      min="-25"
                      max="25"
                    />
                  </div>
                  <div>
                    <div class="motion-input-label">
                      <span class="label">M6(Left Foot)</span>
                      <input
                        type="number"
                        name="left_foot_value"
                        id="m6_value"
                        min="-25"
                        max="25"
                      />
                    </div>
                    <input
                      type="range"
                      name="left_foot_range"
                      id="m6_range"
                      min="-25"
                      max="25"
                    />
                  </div>
                </div>
              </div>
            </section>
            <section>
              <div class="motion-timeline-group">
                <div class="motion-timeline-range">
                  <div class="motion-timeline-label">
                    <span>0초</span><span>120초</span>
                  </div>
                  <input
                    type="range"
                    name="timeline"
                    id="timeline"
                    min="0"
                    max="120"
                    step="0.1"
                    value="0"
                  />
                </div>
                <div class="motion-timeline-input">
                  <input
                    type="number"
                    name="time_val"
                    id="time_val"
                    min="0"
                    max="120"
                    step="0.1"
                    value="0"
                  />
                  <button id="add_frame_bt" class="btn-teal">추가하기</button>
                </div>
              </div>
              <div class="motion-record">
                <div>
                  <span>재생횟수: </span>
                  <input
                    type="number"
                    name="play_cycle_val"
                    id="play_cycle_val"
                    min="1"
                    max="100"
                    value="1"
                  />
                  <span> - </span>
                  <button id="play_frame_bt" class="btn-teal">실행하기</button>
                  /
                  <button id="init_frame_bt" class="btn-teal">
                    모두지우기
                  </button>
                </div>
                <div class="motion-table-wrap">
                  <table id="motor_table">
                    <thead>
                      <tr>
                        <td>시간</td>
                        <td>M0</td>
                        <td>M1</td>
                        <td>M2</td>
                        <td>M3</td>
                        <td>M4</td>
                        <td>M5</td>
                        <td>M6</td>
                        <td>M7</td>
                        <td>M8</td>
                        <td>M9</td>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
                <div class="motion-name-wrap">
                  <span>모션명:</span>
                  <input
                    type="text"
                    name="motion_name_val"
                    id="motion_name_val"
                  />
                  <button id="add_motion_bt" class="btn-red">등록하기</button>
                  <button id="load_motion_bt">불러오기</button>
                  <button id="del_motion_bt">삭제하기</button>
                  <button id="reset_motion_bt">모두지우기</button>
                </div>
                <div class="motion-path">
                  <input
                    type="text"
                    id="filename"
                    placeholder="$ /home/pi/mymotion.json"
                    disabled
                  />
                <textarea name="motor_record" id="motor_record" rows="48" wrap="hard"></textarea>
                </div>
              </div>
            </section>
          </article>
          <article id="article_chatbot">
            <section>
              <h3 class="mark">질문하기</h3>
              <div>
              <span class="label">음성:</span>
	      <input type="radio" name="c_voice_en" value="on" checked>On
	      <input type="radio" name="c_voice_en" value="off">Off
              </div>
              <div class="chatbot-input-group">
                <span class="label">질문:</span>
                <input
                  type="text"
                  name="c_question_text"
                  id="c_question_text"
                  placeholder="안녕하세요. 반갑습니다."
                />
              </div>
              <div class="chatbot-input-group">
                <span class="label">대답:</span>
                <input
                  type="text"
                  name="c_answer_text"
                  id="c_answer_text"
                  disabled
                />
              </div>
            </section>
            <section>
              <h3 class="mark">대화기록 (최근 대화 10개)</h3>
              <div>
                <span class="label">목소리:</span>
                <select name="c_voice_type">
                  <option value="WOMAN_READ_CALM">차분한 여성</option>
                  <option value="MAN_READ_CALM">차분한 남성</option>
                  <option value="WOMAN_DIALOG_BRIGHT">밝은 여성</option>
                  <option value="MAN_DIALOG_BRIGHT">밝은 남성</option>
                </select>
                <select name="c_voice_mode">
                  <option value="default">기본 말투</option>
                  <option value="friendly">친근한 말투</option>
                </select>
              </div>
              <div>
                <table id="c_record_tb">
                  <thead>
                    <tr>
                      <td><b>시간</b></td>
                      <td><b>질문</b></td>
                      <td><b>대답</b></td>
                    </tr>
                  </thead>
                  <tbody></tbody>
                </table>
              </div>
            </section>
          </article>
          <article id="article_device">
            <section>
              <div>
                <div style="float: left">
                  <h3 class="mark">눈 색상 조정하기</h3>
                </div>
                <div style="float: right">
                  <button id="eye_save_bt">저장</button>
                </div>
              </div>
              <div class="eye-color-group">
                <div class="eye-color-input-group">
                  <span class="label">오른쪽</span>
                  <div>
                    <div>
                      <label for="d_n0_val" class="label">빨강</label>
                      <input
                        type="number"
                        name="d_n0_val"
                        id="d_n0_val"
                        value="0"
                        min="0"
                        step="5"
                        max="255"
                      />
                    </div>
                    <div>
                      <label for="d_n1_val" class="label">초록</label>
                      <input
                        type="number"
                        name="d_n1_val"
                        id="d_n1_val"
                        value="0"
                        min="0"
                        step="5"
                        max="255"
                      />
                    </div>
                    <div>
                      <label for="d_n2_val" class="label">파랑</label>
                      <input
                        type="number"
                        name="d_n2_val"
                        id="d_n2_val"
                        value="0"
                        min="0"
                        step="5"
                        max="255"
                      />
                    </div>
                  </div>
                </div>
                <div class="eye-color-input-group">
                  <span class="label">왼쪽</span>
                  <div>
                    <div>
                      <label for="d_n3_val" class="label">빨강</label>
                      <input
                        type="number"
                        name="d_n3_val"
                        id="d_n3_val"
                        value="0"
                        min="0"
                        step="5"
                        max="255"
                      />
                    </div>
                    <div>
                      <label for="d_n4_val" class="label">초록</label>
                      <input
                        type="number"
                        name="d_n4_val"
                        id="d_n4_val"
                        value="0"
                        min="0"
                        step="5"
                        max="255"
                      />
                    </div>
                    <div>
                      <label for="d_n5_val" class="label">파랑</label>
                      <input
                        type="number"
                        name="d_n5_val"
                        id="d_n5_val"
                        value="0"
                        min="0"
                        step="5"
                        max="255"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section>
              <h3 class="mark">센서인식 하기</h3>
              <div class="device-status-group">
              <div>
                <span class="label">인체 감지 센서</span>
                <span class="label" id="d_pir_val"></span>
              </div>
              <div>
                <span class="label">터치 센서</span>
                <span class="label" id="d_touch_val"></span>
              </div>
              <div>
                <span class="label">버튼 인식</span>
                <span class="label" id="d_button_val"></span>
              </div>
              </div>
            </section>
            <section>
              <h3 class="mark">디스플레이(OLED) 사용하기</h3>
              <div class="oled-group">
                <label for="d_ox_val" class="label">X: </label>
                <input
                  type="number"
                  name="d_ox_val"
                  id="d_ox_val"
                  value="0"
                  min="0"
                  max="128"
                />
                <label for="d_oy_val" class="label">Y: </label>
                <input
                  type="number"
                  name="d_oy_val"
                  id="d_oy_val"
                  value="0"
                  min="0"
                  max="64"
                />
                <label for="d_osize_val" class="label">Size: </label>
                <input
                  type="number"
                  name="d_osize_val"
                  id="d_osize_val"
                  value="10"
                  min="1"
                  max="50"
                />
                <div>
		  <input
                    type="text"
                    name="d_otext_val"
                    id="d_otext_val"
                    placeholder="문자를 입력하세요."
                  />
                </div>
              </div>
            </section>
            <section>
              <div>
                <div style="float: left">
                  <h3 class="mark">마이크 사용하기(녹음 후, 재생)</h3>
                </div>
                <div style="float: right">
                  <button id="mic_bt">녹음</button>
                </div>
              </div>
              <div>
                <label for="mic_time_val" class="label">녹음시간: </label>
                <input
                  type="number"
                  name="mic_time_val"
                  id="mic_time_val"
                  value="5"
                  min="1"
                  max="30"
                >
                <span class="label">초</span>
              </div>
	      <span class="label" id="mic_status"></span>
            </section>
          </article>
        </div>
      </div>
    </main>
    <footer>© Copyright 2022, Circulus Education - THE MAKER</footer>
  </body>
  <script src="../static/index.js?ver=1"></script>
</html>
