@font-face {
  font-family: "Malgun Gothic";
  font-style: normal;
  src: local("Malgun Gothic"), local("Dotum"), local("Gulim");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  /* 모바일 pinch zoom 방지 */
  touch-action: pan-x pan-y;
  height: 100%;
  font-size: 10px;
  --mid-gray: #6c6c6c;
  --yellow: #f4de3d;
  --dark-yellow: #f4d85a;
  --light-green: #edf5e0;
  --light-yellow: rgb(248, 242, 172);
  --teal: #13bfd5;
  --dark-teal: #11abbf;
  --red: #f16449;
  --dark-red: #d85a41;
}
html:lang(ko) {
  font-family: Helvetica, "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo",
    "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;
}

body {
  font-family: Helvetica, "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo",
    "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;
  color: black;
  background-color: white;
  box-sizing: border-box;
  font-size: 1.6rem;
  position: relative;
  word-break: keep-all;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header {
  font-weight: bold;
}

@media (max-width: 1129px) {
  .result, .terminal {
    min-width:700px;
    width:calc(99vw - 100px);
  }
  .CodeMirror, .blocklyDiv {
    min-width:700px;
    width:calc(99vw - 100px);
  }
}
@media (min-width: 1130px) {
  .result, .terminal {
    width:calc(99vw - 100px);
  }
  .CodeMirror, .blocklyDiv {
    width:calc(99vw - 430px);
  }
}
@media (min-width: 1530px) {
  .result, .terminal {
    min-width:400px;
    width:calc(40vw - 230px);
  }
  .CodeMirror, .blocklyDiv  {
    min-width:700px;
    width:calc(58vw - 200px);
  }
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo",
    "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;
}
textarea,
select,
input {
  /* font-size: 10px; */
  color: black;
  font-weight: normal;
  outline: none;
  font-family: Helvetica, "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo",
    "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;
}

select,
input {
  background: rgb(248, 242, 172, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 4px;
  font-size: 16px !important;
}

/* 링크 스타일 */
a:link,
a:visited {
  color: #0896d9;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0896d9;
}

.readable-hidden,
.a11y,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

.a11y:focus {
  top: 5px;
  left: 50%;
  width: auto;
  height: auto;
  margin: 0;
  clip: rect(auto, auto, auto, auto);
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  transform: translateX(-50%);
  z-index: 10;
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}
body::-webkit-scrollbar-track {
  border-radius: 3px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

div {
  touch-action: pan-x pan-y;
}

main {
  display: flex;
  flex: 1 0 80vh;
  padding: 30px 0;
}

button {
  font-family: "Noto Sans Regular", sans-serif;
  font-size:1.2rem;
  padding: 0.5rem 1rem;
  outline: none;
  background-color: var(--yellow);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px var(--mid-gray);
}
button:hover {
  background-color: var(--dark-yellow);
}
button:active {
  background-color: var(--dark-yellow);
  box-shadow: 0 2px var(--mid-gray);
  transform: translateY(2px);
}

button.btn-teal {
  font-family: "Noto Sans Regular", sans-serif;
  font-size:1.2rem;
  padding: 0.5rem 1rem;
  outline: none;
  background-color: var(--teal);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #074c55;
}
button.btn-teal:hover {
  background-color: var(--dark-teal);
}
button.btn-teal:active {
  background-color: var(--dark-teal);
  box-shadow: 0 2px #074c55;
  transform: translateY(2px);
}
button.disabled {
  opacity: 0.5;
  filter: grayscale(0.5);
}

button.btn-red {
  color: white;
  font-family: "Noto Sans Regular", sans-serif;
  padding: 0.5rem 1rem;
  outline: none;
  background-color: var(--red);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #903c2b;
}
button.btn-red:hover {
  background-color: var(--dark-red);
}
button.btn-red:active {
  background-color: var(--dark-red);
  box-shadow: 0 2px #903c2b;
  transform: translateY(2px);
}

footer {
  bottom: 0;
  background-color: var(--dark-yellow);;
  width: 100%;
  height: 3rem;
  font-size: 1.2rem;
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
  z-index: 99;
}

header.title {
  color: black;
  background-color: var(--dark-yellow);
  cursor: default;
  width: 100%;
  height: 3rem;
  padding-left: 16px;
  padding-right: 16px;
  position: fixed;
  z-index: 99;
}
.title h2 {
  margin: 0.1em auto;
  font-family: Tahoma, sans-serif;
  font-size:2rem;
  padding:0.3rem 0.3rem 0.3rem 0.3rem;
}

main > div.content {
  margin: 0 auto;
  align-items: flex-start;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content:center;
  padding-left: 40px;
  padding-right: 40px;
}

main div.wrapper.ide {
  margin-top: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: baseline;
  gap: 0.5em;
}

.vertical {
  display: flex;
  flex-flow: column;
}
.gap-8 {
  gap: 0.5em;
}

#init_bt {
  position: absolute;
}
table {
  width: 300px;
}

tbody {
  background-color: var(--light-green);
}

.fm-table-wrap {
  width: 320px;
  height: calc(80.5vh - 365px);
  min-height:200px;
  overflow-y: scroll;
  border: 1px solid var(--light-green);
  border-radius: 2px;
}

div[name="codetype"] {
  display: flex;
  border: 1px solid var(--yellow);
  border-radius: 4px;
  overflow: hidden;
}

div[name="codetype"] > button {
  background: transparent;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  width: 76px;
}

i.fa > span {
  font-family: Helvetica, "맑은 고딕", "malgun gothic", "Apple SD Gothic Neo",
    "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", sans-serif;
  font-weight: 600;
  padding-left: 0.25em;
}

div[name="codetype"] > button.checked {
  background: var(--yellow);
  color: rgba(0, 0, 0);
  font-weight: bold;
}

.editor-row {
  display: flex;
  align-items: center;
  flex-flow: row;
  gap: 1em;
  min-height: 28.5px;
}
.fullWidth {
  width: 100%;
}
.editor-col {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

#code-form {
  margin: 0;
  margin-block-end: 0;
}

label[for=upload] {
  font-family: "Noto Sans Regular", sans-serif;
  font-size:1.2rem;
  padding: 0.5rem 1rem;
  outline: none;
  background-color: var(--teal);
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px var(--mid-gray);
}

label[for=upload]:hover {
  background-color: var(--dark-teal);
}

label[for=upload]:active {
  background-color: var(--dark-teal);
  box-shadow: 0 2px var(--mid-gray);
  position: relative;
  top:2px;
}

.filebox input[type="file"] {
  width: 0px;
  height: 0px;
  padding: 0;
  overflow: hidden;
  margin: -1px;
  border: 0;
  position:absolute;
}

img.preview-img {
  width: 320px;
  height: 240px;
  background-color: var(--light-green);
}

audio.preview-audio {
  width: 320px;
  height: 40px;
}

.filepath {
  opacity: 0.7;
  font-size: 1.1rem;
  overflow-x: auto;
}

.result,
.terminal {
  border-radius: 5px;
  min-width:400px;
  min-height:555px;
  height:79.5vh;
}

.blocklyDiv {
  min-height:555px;
  height:79.5vh;
  display: none; /*hide the element by default*/
}